<!DOCTYPE html>
<html>
  <head>
    <title>News Aggregator</title>
    <link rel="stylesheet" href="home.css">
  </head>
  <body>
    <div class="banner">
    Slacker Reads
    </div
    <div class=container>
      <%= yield %>
    </div>
  </body>
</html>
