<form action="/articles/new" method="post">
<label for="article_name">Add a new site</label>
<br>
Title
<input type="text" id="article_name" name="new_site">
Address
<input type="text" id="article_name" name="site_address">
Description
<input type="text" id="article_name" name="description">
<input type="submit">
